.container {
  width: 35%;
}

.card > div {
  animation: scroll-left 2s ease-in-out infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateY(0%);
  } /* Start position */
  100% {
    transform: translateY(-400%);
  } /* Move content left */
}
