@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#dashboard{

    width: 100%;
    background-color:#252836 ;
    color: white;
    overflow: hidden;


}

